@charset "UTF-8";

body {
            background-color: cornflowerblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
        h1 {
            color: cyan;
        }

        h2 {
            color: aliceblue;
        }

        p {
            text-align: justify;
        }